<h1>All Dogs Go to Kevin!</h1>

<h2>Eat the hotdog?</h2>

<ul>
    {{!-- So these are the blocks that hold the data of if the object is true or false --}}
  {{#each hotdog}}
    {{#unless eaten}}
      {{> hotdogs/hotdog-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>
<h2>Hotdogs you have eaten</h2>
<ul>
  {{#each hotdog}}
    {{#if eaten}}
      {{> hotdogs/hotdog-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>

{{!-- This part i get --}}
<h2>Add a Hotdog</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Hot Dog:</label>
    <input type="text" id="hotdog" name="name">
  </div>
  <button type="submit">Add hotdog</button>
</form>
