<h1>Cats!</h1>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each hotdogs}}
    {{#unless eaten}}
      {{> hotdogs/hotdog-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Hotdogs that are eaten!</h2>

<ul>
  {{#each hotdogs}}
    {{#if eaten}}
      {{> hotdogs/hotdog-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Hotdog</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Hot Doggity Dogs:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">I ARE DA HOTDOG</label><br>
    <input type="radio" name="eaten" value="1" checked> ATE!<br>
    <input type="radio" name="eaten" value="0"> Not eaten
  </div>

  <button type="submit">HOTDOG</button>
</form>
